@charset 'UTF-8';


@font-face {

    font-family: 'n';
    src: url('nt.otf') format('truetype');
    font-weight: normal;
    font-size: normal;
    font-style: normal;}
@font-face {
    font-family:'n2' ;
    src: url(GamegirlClassic-9MVj.ttf)}
  

* {
   
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
}
.img {
    background-color:rgb(230, 0, 18);
    padding-bottom: 4px;
    padding-left: 7px;
    padding-top: 3px;
    
}
.logo:hover{
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 20px;

}
nav {
    
    background-color:rgb(230, 0, 18);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.466)
    ;
   
text-align: right;
}
nav a {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    
   
}
nav a:hover {
    
    background-color: rgba(0, 0, 0, 0.164);
    color:white;
    border-radius: 50px;
}
main{
    background-color: rgb(230, 0, 18);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.171);

  
}
.img2{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
div{
    background-color:rgb(230, 0, 18);
    
}
h2{
    
    text-align: center;
    font-family: 'n2';
    color: white;
    padding-left: 5px;
   padding-bottom: 5px;
    font-size: 1em;
    text-shadow: 5px 5px black;
}
 p{
    text-align: center;
    color: white;
    text-indent: 15px;

    padding-bottom: 15px;
 }
 

 
 footer>p{
  background-color: rgb(230, 0, 18);
padding: 20px;
text-align: center;

box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.322);

 }
  .contato{
     
      color: white;
  }
  .contato:hover{
      text-decoration: underline;
      color:black;
  }